<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <title>Book-Details</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body th:onload="${id} ? myFunction()">
<div class="container">
    <div class="row">
        <h1 style="color: red; margin-left: 10px">Book</h1>
    </div>
    <form id="myForm" th:object="${book}" th:action="@{{id}(id=*{id})}" th:method="POST"
          enctype="multipart/form-data" class="row">
        <fieldset disabled class="col-6">
            <div class="form-row">
                <div class="form-group col">
                    <label class="control-label" for="title"> Title </label>
                    <input id="title" type="text" name="title" class="form-control" th:value="*{title}" required>
                    <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label class="control-label" for="author"> Author </label>
                    <input id="author" type="text" name="author" class="form-control" th:value="*{author}" required>
                    <p th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="category"> Category </label>
                <!-- <input id="category" type="text" name="category" class="form-control" th:value="*{category}"> -->
                <input class="form-control" list="lst" th:field="*{category}" required>
                <datalist id="lst">
                    <option value="Action">
                    <option value="Love">
                    <option value="Story">
                    <option value="Horror">
                </datalist>
            </div>
            <div class="form-group">
                <label class="control-label" for="description"> Description </label>
                <textarea id="description" type="text" name="description" class="form-control"
                          th:field="*{description}"></textarea>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label class="control-label" for="releaseDate"> ReleaseDate </label>
                    <input id="releaseDate" type="date" name="releaseDate" class="form-control"
                           th:value="*{releaseDate}" required>
                    <p th:if="${#fields.hasErrors('releaseDate')}">Khong duoc de trong</p>
                </div>
                <div class="form-group col">
                    <label class="control-label" for="nOP"> Number of Pages </label>
                    <input id="nOP" type="text" name="nOP" class="form-control" th:value="*{nOP}" required>
                </div>
            </div>
        </fieldset>

        <div class="col-6">
            <fieldset disabled>
                <div class="form-group">
                    <label class="control-label" for="cover"> Cover </label>
                    <input id="cover" type="file" name="coverImg" class="form-control-file" th:value="*{nOP}"
                           accept="image/png, image/jpeg" onchange="preview()">
                    <img id="frame" src="" width="300" height="380"/>
                </div>
            </fieldset>
            <img class="img-thumbnail" th:src="@{${book.coverImg} }">
        </div>
    </form>
</div>
<div class="container" th:switch="${id}">
    <input class="btn btn-secondary" style="background-color: royalblue; width: 540px" th:case="-1" type="submit" value="Add" form="myForm">
    <button class="btn btn-secondary" style="background-color: #8DC26F; width: 540px" th:case="*" type="button" onclick="myFunction()" id="editSave">Edit</button>
</div>
<script>
    function myFunction() {
        document.getElementsByTagName("fieldset")[0].disabled = false;
        document.getElementsByTagName("fieldset")[1].disabled = false;
        var x = document.getElementById("editSave");
        x.innerHTML = "Save";
        setTimeout(() => {
            x.setAttribute("type", "submit");
            x.setAttribute("form", "myForm");
        }, 50);
    }

    function preview() {
        frame.src = URL.createObjectURL(event.target.files[0]);
    }
</script>

<script th:if="*{id} == -1">
    document.getElementsByTagName("fieldset")[0].disabled = false;
    document.getElementsByTagName("fieldset")[1].disabled = false;
</script>
</body>

</html>